<div class="row" >
    <div class="col-lg-6 col-sm-6">
        <div class="circle-tile">
            <a [routerLink]="['/asigna']">
                <div class="circle-tile-heading orange">
                    <i class="fa fa-user-md fa-fw fa-3x"></i>
                </div>
            </a>
              <div class="circle-tile-content orange">
                <div class="circle-tile-description text-faded">
                    Asignar medico
                </div>
                <div class="circle-tile-number text-faded">

                    <span id="sparklineA"></span>
                </div>
                <a [routerLink]="['/asigna']"class="circle-tile-footer">SEGIP / DARSALUD <i class="fa fa-chevron-circle-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6">
        <div class="circle-tile">
            <a href="#">
              <div class="circle-tile-heading green">
                  <i class="fa fa-sign-in-alt fa-fw fa-3x"></i>
              </div>
            </a>
        <div class="circle-tile-content green">
              <div class="circle-tile-description text-faded">
                  Tranferencias
              </div>
              <div class="circle-tile-number text-faded">

              </div>
              <a href="#" class="circle-tile-footer">DE OTROS CENTROS <i class="fa fa-chevron-circle-right"></i></a>
        </div>
      </div>
  </div>
</div>
<div class="row" >
    <div class="col-lg-6 col-sm-6">
        <div class="circle-tile">
            <a href="#">
                <div class="circle-tile-heading purple">
                    <i class="fa fa-sign-out-alt fa-fw fa-3x"></i>
                </div>
            </a>
              <div class="circle-tile-content purple">
                <div class="circle-tile-description text-faded">
                    Transferir paciente
                </div>
                <div class="circle-tile-number text-faded">

                    <span id="sparklineA"></span>
                </div>
                <a href="#" class="circle-tile-footer">A OTROS CENTROS <i class="fa fa-chevron-circle-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6">
        <div class="circle-tile">
            <a href="#">
              <div class="circle-tile-heading red">
                  <i class="fa fa-pills fa-fw fa-3x"></i>
              </div>
            </a>
        <div class="circle-tile-content red">
              <div class="circle-tile-description text-faded">
                  Farmacia
              </div>
              <div class="circle-tile-number text-faded">

              </div>
              <a href="#" class="circle-tile-footer">INVENTARIO <i class="fa fa-chevron-circle-right"></i></a>
        </div>
      </div>
  </div>
</div>
<div class="row" >
    <div class="col-lg-6 col-sm-6">
        <div class="circle-tile">
            <a href="#">
                <div class="circle-tile-heading dark-blue">
                    <i class="fa fa-calendar fa-fw fa-3x"></i>
                </div>
            </a>
              <div class="circle-tile-content dark-blue">
                <div class="circle-tile-description text-faded">
                    RESERVAS
                </div>
                <div class="circle-tile-number text-faded">

                    <span id="sparklineA"></span>
                </div>
                <a href="#" class="circle-tile-footer">CALENDARIO <i class="fa fa-chevron-circle-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6">
        <div class="circle-tile">
            <a href="#">
              <div class="circle-tile-heading blue">
                  <i class="fa fa-edit fa-fw fa-3x"></i>
              </div>
            </a>
        <div class="circle-tile-content blue">
              <div class="circle-tile-description text-faded">
                  REPORTE DIARIO
              </div>
              <div class="circle-tile-number text-faded">

              </div>
              <a href="#" class="circle-tile-footer">SEGIP <i class="fa fa-chevron-circle-right"></i></a>
        </div>
      </div>
  </div>
</div>
