
  <a style="color:#fff" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h6 class="mb-1">Chat</h6>
      <small>actual</small>
    </div>
  </a>

  <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center ">Alejandro Martinez <span class="badge badge-success badge-pill"> </span>
  </a>
  <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">Marcelo Marca <span class="badge badge-danger badge-pill"> </span>
  </a>
  <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">Abigail Fernandez <span class="badge badge-warning badge-pill"> </span>
  </a>
