<br>
<div class="container-fluid col-lg-12">
  <div class="row col-lg-12">
    <div class="list-group col-lg-3">
      <a style="color:#fff" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
          <h6 class="mb-1">Lista de espera</h6>
          <small>actual</small>
        </div>
      </a>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Concepcion Graciela Natividad Quintanilla Guachalla
            <span class="badge"><a href="#" title="Reasignar consultorio" class="btn btn-sm btn-warning"> <i class="fa fa-exchange-alt"></i> </a> <a href="#" class="btn btn-sm btn-danger" title="Eliminar de la lista de espera"><i class="fa fa-trash-alt"></i></a> </span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Dapibus ac facilisis in
            <span class="badge"><a href="#" title="Reasignar consultorio" class="btn btn-sm btn-warning"> <i class="fa fa-exchange-alt"></i> </a> <a href="#" class="btn btn-sm btn-danger" title="Eliminar de la lista de espera"><i class="fa fa-trash-alt"></i></a> </span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Morbi leo risus
            <span class="badge"><a href="#" title="Reasignar consultorio" class="btn btn-sm btn-warning"> <i class="fa fa-exchange-alt"></i> </a> <a href="#" class="btn btn-sm btn-danger" title="Eliminar de la lista de espera"><i class="fa fa-trash-alt"></i></a> </span>
          </li>
        </ul>
    </div>
    <div class="list-group col-lg-6">
      <router-outlet></router-outlet>
    </div>
    <div class="list-group col-lg-3">
      <Darsalud-chat></Darsalud-chat>
    </div>
</div>
</div>
